# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

596

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
# base_url = "http://api.openweathermap.org/data/2.5/weather?"

# query_url = f"{base_url}appid={weather_api_key}&q="

# city_weather = []
# count = 0

# for city in cities:
#     count = =+1
#     weather_response = requests.get(query_url + city)
#     weather_json = weather_response.json()
    
#     if
    


#temp = response['main']['temp']

#print(f'the temp in {city} is {temp}')

In [3]:
# create a dataframe with cities from the random list generated
city_weather = pd.DataFrame(cities,columns=['City'])
city_weather.head()

         City
0  butaritari
1      torbay
2    tsihombe
3  chokurdakh
4   busselton

In [4]:
# create and append empty columns to city_weather dataframe
city_weather['Lat'] = ''
city_weather['Lng'] = ''
city_weather['Max Temp'] = ''
city_weather['Humidity'] = ''
city_weather['Cloudiness'] = ''
city_weather['Wind Speed'] = ''
city_weather['Country'] = ''
city_weather['Date'] = ''

city_weather.head()

         City Lat Lng Max Temp Humidity Cloudiness Wind Speed Country Date
0  butaritari
1      torbay
2    tsihombe
3  chokurdakh
4   busselton

In [5]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"
query_url = f"{base_url}appid={weather_api_key}&q="

In [7]:
#count = 0
record = 0
set_count = 1

for index, row in city_weather.iterrows():
    
    count += 1
    record = record + 1

    
    city_name = row['City']
    
    weather_response = requests.get(query_url + city_name)
    weather_json = weather_response.json()
    
    #results = data['results']
    
    try:
        print(f"Processing Record {record} of Set {set_count} | {city_name}")
        
        city_weather.loc[index, 'Lat'] = weather_json['coord']['lat']
        city_weather.loc[index, 'Lng'] = weather_json['coord']['lon']
        city_weather.loc[index, 'Max Temp'] = weather_json['main']['temp_max']
        city_weather.loc[index, 'Humidity'] = weather_json['main']['humidity']
        city_weather.loc[index, 'Cloudiness'] = weather_json['clouds']['all']
        city_weather.loc[index, 'Wind Speed'] = weather_json['wind']['speed']
        city_weather.loc[index, 'Country'] = weather_json['sys']['country']
        city_weather.loc[index, 'Date'] = weather_json['dt']
        
    except (KeyError, IndexError):
        
        print(f'City not found. Skipping...')
    if record == 50:
        set_count = set_count+1
        record = 0
    #if count == 100:
        #break

Processing Record 1 of Set 1 | butaritari
Processing Record 2 of Set 1 | torbay
Processing Record 3 of Set 1 | tsihombe
City not found. Skipping...
Processing Record 4 of Set 1 | chokurdakh
Processing Record 5 of Set 1 | busselton
Processing Record 6 of Set 1 | rikitea
Processing Record 7 of Set 1 | talnakh
Processing Record 8 of Set 1 | jizan
Processing Record 9 of Set 1 | straumen
Processing Record 10 of Set 1 | saint-philippe
Processing Record 11 of Set 1 | punta arenas
Processing Record 12 of Set 1 | nikolskoye
Processing Record 13 of Set 1 | anadyr
Processing Record 14 of Set 1 | albany
Processing Record 15 of Set 1 | marsh harbour
Processing Record 16 of Set 1 | kapaa
Processing Record 17 of Set 1 | nehe
Processing Record 18 of Set 1 | hilo
Processing Record 19 of Set 1 | yellowknife
Processing Record 20 of Set 1 | attawapiskat
City not found. Skipping...
Processing Record 21 of Set 1 | karlskrona
Processing Record 22 of Set 1 | chato
Processing Record 23 of Set 1 | vaitupu
City not found. Skipping...
Processing Record 24 of Set 1 | mataura
Processing Record 25 of Set 1 | ostrovnoy
Processing Record 26 of Set 1 | nanortalik
Processing Record 27 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 28 of Set 1 | mahebourg
Processing Record 29 of Set 1 | cape town
Processing Record 30 of Set 1 | moose factory
Processing Record 31 of Set 1 | ronne
Processing Record 32 of Set 1 | sao joao da barra
Processing Record 33 of Set 1 | sinnamary
Processing Record 34 of Set 1 | vao
Processing Record 35 of Set 1 | hofn
Processing Record 36 of Set 1 | bluff
Processing Record 37 of Set 1 | luanda
Processing Record 38 of Set 1 | dikson
Processing Record 39 of Set 1 | hobart
Processing Record 40 of Set 1 | kalemie
Processing Record 41 of Set 1 | labuan
Processing Record 42 of Set 1 | salalah
Processing Record 43 of Set 1 | sibolga
Processing Record 44 of Set 1 | new norfolk
Processing Record 45 of Set 1 | ushuaia
Processing Record 46 of Set 1 | faanui
Processing Record 47 of Set 1 | lubango
Processing Record 48 of Set 1 | cayenne
Processing Record 49 of Set 1 | taian
Processing Record 50 of Set 1 | laguna
Processing Record 1 of Set 2 | flinders
Processing Record 2 of Set 2 | mar del plata
Processing Record 3 of Set 2 | ati
Processing Record 4 of Set 2 | mecca
Processing Record 5 of Set 2 | sao jose da coroa grande
Processing Record 6 of Set 2 | kiruna
Processing Record 7 of Set 2 | avarua
Processing Record 8 of Set 2 | illoqqortoormiut
City not found. Skipping...
Processing Record 9 of Set 2 | tlajomulco
Processing Record 10 of Set 2 | colonial park
Processing Record 11 of Set 2 | georgetown
Processing Record 12 of Set 2 | cilegon
Processing Record 13 of Set 2 | atuona
Processing Record 14 of Set 2 | bethel
Processing Record 15 of Set 2 | te anau
Processing Record 16 of Set 2 | saskylakh
Processing Record 17 of Set 2 | banyo
Processing Record 18 of Set 2 | griffith
Processing Record 19 of Set 2 | nizhneyansk
City not found. Skipping...
Processing Record 20 of Set 2 | necochea
Processing Record 21 of Set 2 | la ronge
Processing Record 22 of Set 2 | jalingo
Processing Record 23 of Set 2 | katsuura
Processing Record 24 of Set 2 | san juan
Processing Record 25 of Set 2 | flin flon
Processing Record 26 of Set 2 | udachnyy
Processing Record 27 of Set 2 | narsaq
Processing Record 28 of Set 2 | san andres
Processing Record 29 of Set 2 | show low
Processing Record 30 of Set 2 | chulman
Processing Record 31 of Set 2 | oranjemund
Processing Record 32 of Set 2 | fort saint james
Processing Record 33 of Set 2 | carnarvon
Processing Record 34 of Set 2 | forio
Processing Record 35 of Set 2 | roma
Processing Record 36 of Set 2 | dingle
Processing Record 37 of Set 2 | alofi
Processing Record 38 of Set 2 | ilulissat
Processing Record 39 of Set 2 | hamilton
Processing Record 40 of Set 2 | kuminskiy
Processing Record 41 of Set 2 | puerto ayora
Processing Record 42 of Set 2 | klaksvik
Processing Record 43 of Set 2 | vaini
Processing Record 44 of Set 2 | borger
Processing Record 45 of Set 2 | maniitsoq
Processing Record 46 of Set 2 | tuatapere
Processing Record 47 of Set 2 | biak
Processing Record 48 of Set 2 | brae
Processing Record 49 of Set 2 | potsdam
Processing Record 50 of Set 2 | barrow
Processing Record 1 of Set 3 | hami
Processing Record 2 of Set 3 | sao filipe
Processing Record 3 of Set 3 | upernavik
Processing Record 4 of Set 3 | tuktoyaktuk
Processing Record 5 of Set 3 | turayf
Processing Record 6 of Set 3 | milkovo
Processing Record 7 of Set 3 | jamestown
Processing Record 8 of Set 3 | san carlos de bariloche
Processing Record 9 of Set 3 | barentsburg
City not found. Skipping...
Processing Record 10 of Set 3 | auki
Processing Record 11 of Set 3 | utiroa
City not found. Skipping...
Processing Record 12 of Set 3 | yarada
Processing Record 13 of Set 3 | jintur
Processing Record 14 of Set 3 | caravelas
Processing Record 15 of Set 3 | port hedland
Processing Record 16 of Set 3 | isangel
Processing Record 17 of Set 3 | oksfjord
Processing Record 18 of Set 3 | maragogi
Processing Record 19 of Set 3 | kokopo
Processing Record 20 of Set 3 | acapulco
Processing Record 21 of Set 3 | puerto escondido
Processing Record 22 of Set 3 | cidreira
Processing Record 23 of Set 3 | horta
Processing Record 24 of Set 3 | maputo
Processing Record 25 of Set 3 | bonthe
Processing Record 26 of Set 3 | margate
Processing Record 27 of Set 3 | hermanus
Processing Record 28 of Set 3 | vila velha
Processing Record 29 of Set 3 | dunedin
Processing Record 30 of Set 3 | saint-joseph
Processing Record 31 of Set 3 | mys shmidta
City not found. Skipping...
Processing Record 32 of Set 3 | mehamn
Processing Record 33 of Set 3 | port elizabeth
Processing Record 34 of Set 3 | buzdyak
Processing Record 35 of Set 3 | bredasdorp
Processing Record 36 of Set 3 | norilsk
Processing Record 37 of Set 3 | coihaique
Processing Record 38 of Set 3 | karakose
City not found. Skipping...
Processing Record 39 of Set 3 | karratha
Processing Record 40 of Set 3 | san cristobal
Processing Record 41 of Set 3 | adrar
Processing Record 42 of Set 3 | saleaula
City not found. Skipping...
Processing Record 43 of Set 3 | kaitangata
Processing Record 44 of Set 3 | liaocheng
Processing Record 45 of Set 3 | port alfred
Processing Record 46 of Set 3 | east london
Processing Record 47 of Set 3 | avera
Processing Record 48 of Set 3 | kahului
Processing Record 49 of Set 3 | hirara
Processing Record 50 of Set 3 | victoria
Processing Record 1 of Set 4 | richards bay
Processing Record 2 of Set 4 | leningradskiy
Processing Record 3 of Set 4 | obama
Processing Record 4 of Set 4 | arraial do cabo
Processing Record 5 of Set 4 | codrington
Processing Record 6 of Set 4 | bengkulu
Processing Record 7 of Set 4 | provideniya
Processing Record 8 of Set 4 | khatanga
Processing Record 9 of Set 4 | port lincoln
Processing Record 10 of Set 4 | sentyabrskiy
City not found. Skipping...
Processing Record 11 of Set 4 | hailin
Processing Record 12 of Set 4 | qaanaaq
Processing Record 13 of Set 4 | rocha
Processing Record 14 of Set 4 | alice springs
Processing Record 15 of Set 4 | airai
Processing Record 16 of Set 4 | biu
Processing Record 17 of Set 4 | okha
Processing Record 18 of Set 4 | kupang
Processing Record 19 of Set 4 | ciras
City not found. Skipping...
Processing Record 20 of Set 4 | jacqueville
Processing Record 21 of Set 4 | weyburn
Processing Record 22 of Set 4 | fort nelson
Processing Record 23 of Set 4 | grootfontein
Processing Record 24 of Set 4 | valleyview
Processing Record 25 of Set 4 | somotillo
Processing Record 26 of Set 4 | meulaboh
Processing Record 27 of Set 4 | iqaluit
Processing Record 28 of Set 4 | cabedelo
Processing Record 29 of Set 4 | xam nua
Processing Record 30 of Set 4 | belushya guba
City not found. Skipping...
Processing Record 31 of Set 4 | gorodishche
Processing Record 32 of Set 4 | bambous virieux
Processing Record 33 of Set 4 | makung
City not found. Skipping...
Processing Record 34 of Set 4 | komsomolskiy
Processing Record 35 of Set 4 | mizan teferi
Processing Record 36 of Set 4 | esperance
Processing Record 37 of Set 4 | diamantino
Processing Record 38 of Set 4 | port-cartier
Processing Record 39 of Set 4 | mount isa

Processing Record 40 of Set 4 | kisangani
Processing Record 41 of Set 4 | zarubino
Processing Record 42 of Set 4 | ahipara
Processing Record 43 of Set 4 | akdepe
Processing Record 44 of Set 4 | clarence town
Processing Record 45 of Set 4 | biltine
Processing Record 46 of Set 4 | ribeira grande
Processing Record 47 of Set 4 | desaguadero
Processing Record 48 of Set 4 | kloulklubed
Processing Record 49 of Set 4 | leh
Processing Record 50 of Set 4 | atar
Processing Record 1 of Set 5 | chuy
Processing Record 2 of Set 5 | kavieng
Processing Record 3 of Set 5 | hithadhoo
Processing Record 4 of Set 5 | praia da vitoria
Processing Record 5 of Set 5 | xai-xai
Processing Record 6 of Set 5 | touros
Processing Record 7 of Set 5 | mochudi
Processing Record 8 of Set 5 | san jeronimo
Processing Record 9 of Set 5 | asau
Processing Record 10 of Set 5 | cachoeiro de itapemirim
Processing Record 11 of Set 5 | monywa
Processing Record 12 of Set 5 | barawe
City not found. Skipping...
Processing Record 13 of Set 5 | palmer
Processing Record 14 of Set 5 | kodiak
Processing Record 15 of Set 5 | kirakira
Processing Record 16 of Set 5 | okahandja
Processing Record 17 of Set 5 | hasaki
Processing Record 18 of Set 5 | san patricio
Processing Record 19 of Set 5 | buala
Processing Record 20 of Set 5 | bur gabo
City not found. Skipping...
Processing Record 21 of Set 5 | egvekinot
Processing Record 22 of Set 5 | lebu
Processing Record 23 of Set 5 | aklavik
Processing Record 24 of Set 5 | tumannyy
City not found. Skipping...
Processing Record 25 of Set 5 | rognan
Processing Record 26 of Set 5 | tiksi
Processing Record 27 of Set 5 | kumbo
Processing Record 28 of Set 5 | constitucion
Processing Record 29 of Set 5 | fevralsk
City not found. Skipping...
Processing Record 30 of Set 5 | thompson
Processing Record 31 of Set 5 | rapid valley
Processing Record 32 of Set 5 | vulcanesti
Processing Record 33 of Set 5 | mirnyy
Processing Record 34 of Set 5 | morondava
Processing Record 35 of Set 5 | ovsyanka
Processing Record 36 of Set 5 | namibe
Processing Record 37 of Set 5 | buguey
Processing Record 38 of Set 5 | sitka
Processing Record 39 of Set 5 | pyapon
Processing Record 40 of Set 5 | hervey bay
Processing Record 41 of Set 5 | lavrentiya
Processing Record 42 of Set 5 | porosozero
Processing Record 43 of Set 5 | puerto rico
Processing Record 44 of Set 5 | tibu
Processing Record 45 of Set 5 | geraldton
Processing Record 46 of Set 5 | tasiilaq
Processing Record 47 of Set 5 | daxian
City not found. Skipping...
Processing Record 48 of Set 5 | guanica
Processing Record 49 of Set 5 | lehututu
Processing Record 50 of Set 5 | mbulu
Processing Record 1 of Set 6 | otautau
Processing Record 2 of Set 6 | mingshui
Processing Record 3 of Set 6 | warrnambool
Processing Record 4 of Set 6 | aktau
Processing Record 5 of Set 6 | pevek
Processing Record 6 of Set 6 | saint george
Processing Record 7 of Set 6 | waipawa
Processing Record 8 of Set 6 | siniscola
Processing Record 9 of Set 6 | narva-joesuu
Processing Record 10 of Set 6 | saint anthony
Processing Record 11 of Set 6 | araouane
Processing Record 12 of Set 6 | dukat
Processing Record 13 of Set 6 | buta
Processing Record 14 of Set 6 | karoi
Processing Record 15 of Set 6 | comodoro rivadavia
Processing Record 16 of Set 6 | morant bay
Processing Record 17 of Set 6 | agropoli
Processing Record 18 of Set 6 | synya
Processing Record 19 of Set 6 | bukachacha
Processing Record 20 of Set 6 | lata
Processing Record 21 of Set 6 | marystown
Processing Record 22 of Set 6 | umea
Processing Record 23 of Set 6 | ippy
Processing Record 24 of Set 6 | tairua
Processing Record 25 of Set 6 | villa bruzual
Processing Record 26 of Set 6 | berdigestyakh
Processing Record 27 of Set 6 | inhambane
Processing Record 28 of Set 6 | diu
Processing Record 29 of Set 6 | svetlaya
Processing Record 30 of Set 6 | marcona
City not found. Skipping...
Processing Record 31 of Set 6 | teknaf
Processing Record 32 of Set 6 | los llanos de aridane
Processing Record 33 of Set 6 | copiapo
Processing Record 34 of Set 6 | guerrero negro
Processing Record 35 of Set 6 | kuruman
Processing Record 36 of Set 6 | mount pleasant
Processing Record 37 of Set 6 | maraa
Processing Record 38 of Set 6 | cervo
Processing Record 39 of Set 6 | thinadhoo
Processing Record 40 of Set 6 | willowmore
Processing Record 41 of Set 6 | norman wells
Processing Record 42 of Set 6 | sept-iles
Processing Record 43 of Set 6 | quatre cocos
Processing Record 44 of Set 6 | kutum
Processing Record 45 of Set 6 | gobabis
Processing Record 46 of Set 6 | miandrivazo
Processing Record 47 of Set 6 | kozmodemyansk
Processing Record 48 of Set 6 | qaqortoq
Processing Record 49 of Set 6 | santa maria
Processing Record 50 of Set 6 | chifeng
Processing Record 1 of Set 7 | zhaoyuan
Processing Record 2 of Set 7 | ballina
Processing Record 3 of Set 7 | salta
Processing Record 4 of Set 7 | ondorhaan
City not found. Skipping...
Processing Record 5 of Set 7 | sao miguel
Processing Record 6 of Set 7 | bac lieu
Processing Record 7 of Set 7 | takaka
Processing Record 8 of Set 7 | santa barbara de nexe
Processing Record 9 of Set 7 | sangar
Processing Record 10 of Set 7 | taylor
Processing Record 11 of Set 7 | nemuro
Processing Record 12 of Set 7 | cordoba
Processing Record 13 of Set 7 | kudahuvadhoo
Processing Record 14 of Set 7 | tucuman
Processing Record 15 of Set 7 | pisco
Processing Record 16 of Set 7 | seoni
Processing Record 17 of Set 7 | omsukchan
Processing Record 18 of Set 7 | saint-augustin
Processing Record 19 of Set 7 | ipixuna
Processing Record 20 of Set 7 | samusu
City not found. Skipping...
Processing Record 21 of Set 7 | portland
Processing Record 22 of Set 7 | srednekolymsk
Processing Record 23 of Set 7 | banjar
Processing Record 24 of Set 7 | eyl
Processing Record 25 of Set 7 | beringovskiy
Processing Record 26 of Set 7 | kavaratti
Processing Record 27 of Set 7 | kruisfontein
Processing Record 28 of Set 7 | ancud
Processing Record 29 of Set 7 | umm kaddadah
Processing Record 30 of Set 7 | imeni poliny osipenko
Processing Record 31 of Set 7 | barbar
City not found. Skipping...
Processing Record 32 of Set 7 | karaul
City not found. Skipping...
Processing Record 33 of Set 7 | bilibino
Processing Record 34 of Set 7 | shchelyayur
City not found. Skipping...
Processing Record 35 of Set 7 | jalu
Processing Record 36 of Set 7 | nikolsk
Processing Record 37 of Set 7 | novospasskoye
Processing Record 38 of Set 7 | ponta do sol
Processing Record 39 of Set 7 | lac-megantic
Processing Record 40 of Set 7 | hihifo
City not found. Skipping...
Processing Record 41 of Set 7 | pori
Processing Record 42 of Set 7 | fairbanks
Processing Record 43 of Set 7 | beloha
Processing Record 44 of Set 7 | viedma
Processing Record 45 of Set 7 | severo-kurilsk
Processing Record 46 of Set 7 | tura
Processing Record 47 of Set 7 | omboue
Processing Record 48 of Set 7 | frome
Processing Record 49 of Set 7 | goedereede
Processing Record 50 of Set 7 | verkhnyaya inta
Processing Record 1 of Set 8 | mabaruma
Processing Record 2 of Set 8 | nokaneng
Processing Record 3 of Set 8 | chamba
Processing Record 4 of Set 8 | prince albert
Processing Record 5 of Set 8 | ranfurly
Processing Record 6 of Set 8 | buchanan
Processing Record 7 of Set 8 | tateyama
Processing Record 8 of Set 8 | poum
Processing Record 9 of Set 8 | deputatskiy
Processing Record 10 of Set 8 | kaoma
Processing Record 11 of Set 8 | sinjah
City not found. Skipping...
Processing Record 12 of Set 8 | san vicente
Processing Record 13 of Set 8 | gao
Processing Record 14 of Set 8 | padang
Processing Record 15 of Set 8 | castro
Processing Record 16 of Set 8 | longyearbyen
Processing Record 17 of Set 8 | karkaralinsk
City not found. Skipping...
Processing Record 18 of Set 8 | kalasin
Processing Record 19 of Set 8 | lago da pedra
Processing Record 20 of Set 8 | lompoc
Processing Record 21 of Set 8 | chupa
Processing Record 22 of Set 8 | iringa
Processing Record 23 of Set 8 | sur
Processing Record 24 of Set 8 | jawhar
Processing Record 25 of Set 8 | alegrete
Processing Record 26 of Set 8 | arlit
Processing Record 27 of Set 8 | aljezur
Processing Record 28 of Set 8 | maridi
Processing Record 29 of Set 8 | port hardy

Processing Record 30 of Set 8 | whitehorse
Processing Record 31 of Set 8 | coquimbo
Processing Record 32 of Set 8 | mazagao
Processing Record 33 of Set 8 | jatara
Processing Record 34 of Set 8 | tabiauea
City not found. Skipping...
Processing Record 35 of Set 8 | cockburn town
Processing Record 36 of Set 8 | tubuala
Processing Record 37 of Set 8 | kununurra
Processing Record 38 of Set 8 | port hawkesbury
Processing Record 39 of Set 8 | half moon bay
Processing Record 40 of Set 8 | tonstad
Processing Record 41 of Set 8 | elizabeth city
Processing Record 42 of Set 8 | colares
Processing Record 43 of Set 8 | wuwei
Processing Record 44 of Set 8 | jaypur
Processing Record 45 of Set 8 | iralaya
Processing Record 46 of Set 8 | musoma
Processing Record 47 of Set 8 | cuenca
Processing Record 48 of Set 8 | itoman
Processing Record 49 of Set 8 | ola
Processing Record 50 of Set 8 | cherskiy
Processing Record 1 of Set 9 | catuday
Processing Record 2 of Set 9 | pangnirtung
Processing Record 3 of Set 9 | amderma
City not found. Skipping...
Processing Record 4 of Set 9 | souillac
Processing Record 5 of Set 9 | lai
Processing Record 6 of Set 9 | ixtapa
Processing Record 7 of Set 9 | itarema
Processing Record 8 of Set 9 | coos bay
Processing Record 9 of Set 9 | oktyabrskoye
Processing Record 10 of Set 9 | mahibadhoo
Processing Record 11 of Set 9 | sehithwa
Processing Record 12 of Set 9 | kipini
Processing Record 13 of Set 9 | meyungs
City not found. Skipping...
Processing Record 14 of Set 9 | sinegorye
Processing Record 15 of Set 9 | port keats
Processing Record 16 of Set 9 | faya
Processing Record 17 of Set 9 | lithakia
Processing Record 18 of Set 9 | abu samrah
Processing Record 19 of Set 9 | tautira
Processing Record 20 of Set 9 | aksu
Processing Record 21 of Set 9 | dickinson
Processing Record 22 of Set 9 | male
Processing Record 23 of Set 9 | saryshagan
City not found. Skipping...
Processing Record 24 of Set 9 | we
City not found. Skipping...
Processing Record 25 of Set 9 | northam
Processing Record 26 of Set 9 | the valley
Processing Record 27 of Set 9 | sisimiut
Processing Record 28 of Set 9 | mount gambier
Processing Record 29 of Set 9 | grand river south east
City not found. Skipping...
Processing Record 30 of Set 9 | raymond
Processing Record 31 of Set 9 | eydhafushi
Processing Record 32 of Set 9 | peniche
Processing Record 33 of Set 9 | yanam
Processing Record 34 of Set 9 | haines junction
Processing Record 35 of Set 9 | fortuna
Processing Record 36 of Set 9 | shimoda
Processing Record 37 of Set 9 | iwanai
Processing Record 38 of Set 9 | glinka
Processing Record 39 of Set 9 | san juan tecuaco
Processing Record 40 of Set 9 | dzilam gonzalez
Processing Record 41 of Set 9 | road town
Processing Record 42 of Set 9 | smithers
Processing Record 43 of Set 9 | rivadavia
Processing Record 44 of Set 9 | mentok
City not found. Skipping...
Processing Record 45 of Set 9 | mrirt
City not found. Skipping...
Processing Record 46 of Set 9 | ilula
Processing Record 47 of Set 9 | port blair
Processing Record 48 of Set 9 | nha trang
Processing Record 49 of Set 9 | santiago del estero
Processing Record 50 of Set 9 | manadhoo
Processing Record 1 of Set 10 | barraute
Processing Record 2 of Set 10 | paris
Processing Record 3 of Set 10 | pribelskiy
City not found. Skipping...
Processing Record 4 of Set 10 | erzin
Processing Record 5 of Set 10 | la asuncion
Processing Record 6 of Set 10 | lexington
Processing Record 7 of Set 10 | lahan
Processing Record 8 of Set 10 | kandrian
Processing Record 9 of Set 10 | qabis
City not found. Skipping...
Processing Record 10 of Set 10 | mehran
Processing Record 11 of Set 10 | tilichiki
Processing Record 12 of Set 10 | methven
Processing Record 13 of Set 10 | san quintin
Processing Record 14 of Set 10 | clyde river
Processing Record 15 of Set 10 | sola
Processing Record 16 of Set 10 | dolores
Processing Record 17 of Set 10 | bayan
Processing Record 18 of Set 10 | krasnoyarsk-45
City not found. Skipping...
Processing Record 19 of Set 10 | chicama
Processing Record 20 of Set 10 | port macquarie
Processing Record 21 of Set 10 | rio das ostras
Processing Record 22 of Set 10 | diego de almagro
Processing Record 23 of Set 10 | moree
Processing Record 24 of Set 10 | zhitikara
City not found. Skipping...
Processing Record 25 of Set 10 | nipawin
Processing Record 26 of Set 10 | kushima
Processing Record 27 of Set 10 | blackwater
Processing Record 28 of Set 10 | namatanai
Processing Record 29 of Set 10 | sao gabriel da cachoeira
Processing Record 30 of Set 10 | rungata
City not found. Skipping...
Processing Record 31 of Set 10 | seminole
Processing Record 32 of Set 10 | bereznik
Processing Record 33 of Set 10 | lokoja
Processing Record 34 of Set 10 | bose
Processing Record 35 of Set 10 | nouadhibou
Processing Record 36 of Set 10 | valparaiso
Processing Record 37 of Set 10 | padre paraiso
Processing Record 38 of Set 10 | tukrah
Processing Record 39 of Set 10 | halalo
City not found. Skipping...
Processing Record 40 of Set 10 | tommot
Processing Record 41 of Set 10 | grindavik
Processing Record 42 of Set 10 | mezen
Processing Record 43 of Set 10 | overyata
Processing Record 44 of Set 10 | lorengau
Processing Record 45 of Set 10 | nevsehir
Processing Record 46 of Set 10 | acajutla
Processing Record 47 of Set 10 | mulege
Processing Record 48 of Set 10 | a
City not found. Skipping...
Processing Record 49 of Set 10 | plettenberg bay
Processing Record 50 of Set 10 | mocuba
Processing Record 1 of Set 11 | hvide sande
Processing Record 2 of Set 11 | broken hill
Processing Record 3 of Set 11 | yulara
Processing Record 4 of Set 11 | boden
Processing Record 5 of Set 11 | todos santos
Processing Record 6 of Set 11 | goderich
Processing Record 7 of Set 11 | kerema
Processing Record 8 of Set 11 | sayyan
Processing Record 9 of Set 11 | safford
Processing Record 10 of Set 11 | prince rupert
Processing Record 11 of Set 11 | aswan
Processing Record 12 of Set 11 | zhanakorgan
Processing Record 13 of Set 11 | roald
Processing Record 14 of Set 11 | krasnokamensk
Processing Record 15 of Set 11 | bogdanovich
Processing Record 16 of Set 11 | berlevag
Processing Record 17 of Set 11 | eten
Processing Record 18 of Set 11 | powell river
Processing Record 19 of Set 11 | salisbury
Processing Record 20 of Set 11 | huari
Processing Record 21 of Set 11 | antofagasta
Processing Record 22 of Set 11 | lianran
Processing Record 23 of Set 11 | kalyazin
Processing Record 24 of Set 11 | paraiso
Processing Record 25 of Set 11 | bhag
Processing Record 26 of Set 11 | henties bay
Processing Record 27 of Set 11 | umm lajj
Processing Record 28 of Set 11 | marzuq
Processing Record 29 of Set 11 | butte
Processing Record 30 of Set 11 | jumla
Processing Record 31 of Set 11 | naftah
City not found. Skipping...
Processing Record 32 of Set 11 | la argentina
Processing Record 33 of Set 11 | marysville
Processing Record 34 of Set 11 | adre
Processing Record 35 of Set 11 | palabuhanratu
City not found. Skipping...
Processing Record 36 of Set 11 | yokadouma
Processing Record 37 of Set 11 | opole
Processing Record 38 of Set 11 | luderitz
Processing Record 39 of Set 11 | mana
Processing Record 40 of Set 11 | beyneu
Processing Record 41 of Set 11 | stokmarknes
Processing Record 42 of Set 11 | sobolevo
Processing Record 43 of Set 11 | rio gallegos
Processing Record 44 of Set 11 | barrhead
Processing Record 45 of Set 11 | rawson
Processing Record 46 of Set 11 | zabaykalsk
Processing Record 47 of Set 11 | le marin
Processing Record 48 of Set 11 | rorvik
Processing Record 49 of Set 11 | kitimat
Processing Record 50 of Set 11 | labuhan
Processing Record 1 of Set 12 | burns lake
Processing Record 2 of Set 12 | watertown
Processing Record 3 of Set 12 | kamiiso
Processing Record 4 of Set 12 | barentu
Processing Record 5 of Set 12 | ordu
Processing Record 6 of Set 12 | harper
Processing Record 7 of Set 12 | rjukan
Processing Record 8 of Set 12 | abalak
Processing Record 9 of Set 12 | mahajanga
Processing Record 10 of Set 12 | nishihara
Processing Record 11 of Set 12 | vila franca do campo
Processing Record 12 of Set 12 | san luis
Processing Record 13 of Set 12 | bonavista
Processing Record 14 of Set 12 | rafaela

Processing Record 15 of Set 12 | kimbe
Processing Record 16 of Set 12 | saint-pierre
Processing Record 17 of Set 12 | newburgh
Processing Record 18 of Set 12 | cabo san lucas
Processing Record 19 of Set 12 | bella union
Processing Record 20 of Set 12 | lucea
Processing Record 21 of Set 12 | dvinskoy
Processing Record 22 of Set 12 | kashi
Processing Record 23 of Set 12 | rohri
Processing Record 24 of Set 12 | kadykchan
City not found. Skipping...
Processing Record 25 of Set 12 | falealupo
City not found. Skipping...
Processing Record 26 of Set 12 | bilma
Processing Record 27 of Set 12 | dembi dolo
Processing Record 28 of Set 12 | billings
Processing Record 29 of Set 12 | gurgan
City not found. Skipping...
Processing Record 30 of Set 12 | ilinsko-podomskoye
City not found. Skipping...
Processing Record 31 of Set 12 | yerbogachen
Processing Record 32 of Set 12 | bangalore
Processing Record 33 of Set 12 | awjilah
Processing Record 34 of Set 12 | krasnovishersk
Processing Record 35 of Set 12 | toora-khem
Processing Record 36 of Set 12 | victor harbor
Processing Record 37 of Set 12 | chanika
Processing Record 38 of Set 12 | stornoway
Processing Record 39 of Set 12 | lagoa
Processing Record 40 of Set 12 | niteroi
Processing Record 41 of Set 12 | yar-sale
Processing Record 42 of Set 12 | lancut
Processing Record 43 of Set 12 | talant
Processing Record 44 of Set 12 | praia
Processing Record 45 of Set 12 | mardin
Processing Record 46 of Set 12 | naryan-mar

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [8]:
city_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,butaritari,3.07,172.79,300.75,62,0,3.55,KI,1597698637
1,torbay,47.67,-52.73,295.93,49,90,2.6,CA,1597698637
2,tsihombe,,,,,,,,
3,chokurdakh,70.63,147.92,277.33,86,100,5.92,RU,1597698637
4,busselton,-33.65,115.33,283.71,78,97,6.49,AU,1597698637
...,...,...,...,...,...,...,...,...,...
591,lancut,50.07,22.23,294.15,77,96,3.6,PL,1597698563
592,talant,47.34,5.01,293.15,56,50,1.5,FR,1597698751
593,praia,14.92,-23.51,301.15,74,40,3.6,CV,1597698751
594,mardin,37.31,40.74,297.18,19,0,2.47,TR,1597698751
595,naryan-mar,67.67,53.09,281.67,93,100,2.38,RU,1597698751

In [ ]:
# removing blank rows

city_weather['Lat'] = pd.to_numeric(city_weather['Lat'])
city_weather['Lng'] = pd.to_numeric(city_weather['Lng'])
city_weather['Max Temp'] = pd.to_numeric(city_weather['Max Temp'])
city_weather['Max Temp'] = (((city_weather['Max Temp'] - 273.15) * (9/5)) + 32)
city_weather['Humidity'] = pd.to_numeric(city_weather['Humidity'])
city_weather['Cloudiness'] = pd.to_numeric(city_weather['Cloudiness'])
city_weather['Wind Speed'] = pd.to_numeric(city_weather['Wind Speed'])
city_weather['Date'] = pd.to_datetime(city_weather['Date'], unit = 's')

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [9]:
city_weather.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,butaritari,3.07,172.79,300.75,62,0,3.55,KI,1597698637
1,torbay,47.67,-52.73,295.93,49,90,2.6,CA,1597698637
2,tsihombe,,,,,,,,
3,chokurdakh,70.63,147.92,277.33,86,100,5.92,RU,1597698637
4,busselton,-33.65,115.33,283.71,78,97,6.49,AU,1597698637
5,rikitea,-23.12,-134.97,295.04,78,0,4.67,PF,1597698638
6,talnakh,69.49,88.4,287.15,50,0,3,RU,1597698638
7,jizan,17.33,42.67,307.15,59,40,3.6,SA,1597698638
8,straumen,63.87,11.3,288.15,82,0,1,NO,1597698638
9,saint-philippe,-21.36,55.77,292.15,72,39,3.1,RE,1597698638
10,punta arenas,-53.15,-70.92,276.15,76,75,5.1,CL,1597698638
11,nikolskoye,59.7,30.79,286.15,82,0,1,RU,1597698638
12,anadyr,64.75,177.48,284.15,76,20,5,RU,1597698639
13,albany,42.6,-73.97,298.71,60,4,3.09,US,1597698387
14,marsh harbour,26.54,-77.06,302.77,65,93,2.4,BS,1597698639
15,kapaa,22.08,-159.32,302.15,66,20,6.2,US,1597698639
16,nehe,48.48,124.83,289.98,94,100,5.07,CN,1597698639
17,hilo,19.73,-155.09,301.15,58,75,3.1,US,1597698639
18,yellowknife,62.46,-114.35,292.15,52,20,1.5,CA,1597698412
19,attawapiskat,,,,,,,,

In [ ]:
#city_weather['Date'] = pd.to_datetime(city_weather['Date']).dt.date

In [ ]:
#city_weather.head(10)

In [10]:
city_weather['Date'] = pd.to_datetime(city_weather['Date'])
city_weather['Date'] = city_weather['Date'].dt.strftime('%m-%d-%Y')

In [11]:
city_weather.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,butaritari,3.07,172.79,300.75,62,0,3.55,KI,01-01-1970
1,torbay,47.67,-52.73,295.93,49,90,2.6,CA,01-01-1970
2,tsihombe,,,,,,,,NaN
3,chokurdakh,70.63,147.92,277.33,86,100,5.92,RU,01-01-1970
4,busselton,-33.65,115.33,283.71,78,97,6.49,AU,01-01-1970
5,rikitea,-23.12,-134.97,295.04,78,0,4.67,PF,01-01-1970
6,talnakh,69.49,88.4,287.15,50,0,3,RU,01-01-1970
7,jizan,17.33,42.67,307.15,59,40,3.6,SA,01-01-1970
8,straumen,63.87,11.3,288.15,82,0,1,NO,01-01-1970
9,saint-philippe,-21.36,55.77,292.15,72,39,3.1,RE,01-01-1970
10,punta arenas,-53.15,-70.92,276.15,76,75,5.1,CL,01-01-1970
11,nikolskoye,59.7,30.79,286.15,82,0,1,RU,01-01-1970
12,anadyr,64.75,177.48,284.15,76,20,5,RU,01-01-1970
13,albany,42.6,-73.97,298.71,60,4,3.09,US,01-01-1970
14,marsh harbour,26.54,-77.06,302.77,65,93,2.4,BS,01-01-1970
15,kapaa,22.08,-159.32,302.15,66,20,6.2,US,01-01-1970
16,nehe,48.48,124.83,289.98,94,100,5.07,CN,01-01-1970
17,hilo,19.73,-155.09,301.15,58,75,3.1,US,01-01-1970
18,yellowknife,62.46,-114.35,292.15,52,20,1.5,CA,01-01-1970
19,attawapiskat,,,,,,,,NaN

In [ ]:
#  Get the indices of cities that have humidity over 100%.
# Rows of cities that are over 100% humidity, city name.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression